.products__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    flex-wrap: wrap;
}
.product{
   
    width: calc(30% - 10px); /* Уменьшаем ширину элемента и вычитаем небольшой зазор */
    margin-bottom: 20px; /* Добавляем небольшой отступ между элементами */
    box-shadow: 3px 7px 20px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0,0,0,0.22);
    transition: box-shadow 1s, scale .3s;
}
.product img{
    margin: 20px 0;
    height: 20%;
    width: 20%;
}

.product:hover{
    scale: 1.05;
    cursor: pointer;
}
.product a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    background-color: transparent;
    margin: 15px 0;
}
.product__info{
    margin: 3px;
}
input {
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-bottom: -2px;
}
input:checked{
    border-color: #00000000;
    background-color: #151515;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checbox__counter{
    text-align: center;
    font-weight: bold;
}